<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
        rel="stylesheet">
    <style>
        * {
            font-family: "Roboto", sans-serif;
            margin: 0;
            padding: 0;
            font-size: 12px;
        }

        .titulo-rel {
            font-size: 20px;
            text-align: center;
            padding: 10px;
            background-color: rgba(0, 0, 0, 0.3);
            text-transform: uppercase;
        }

        table {
            width: 100%;
            border-collapse: collapse;
        }

        tr {
            page-break-inside: avoid;
        }

        .quadro,
        caption {
            border-left: 1px solid #000;
            border-right: 1px solid #000;
        }

        .titulo,
        caption {
            text-transform: uppercase;
            font-weight: bold;
            font-size: 14px;
            padding: 3px;
            background-color: rgba(0, 0, 0, 0.3);
        }

        caption {
            padding: 8px;
        }

        .conteudo {
            padding: 5px;
        }

        .conteudo p {
            font-size: 12px;
            font-weight: 300;
        }

        .campo {
            font-weight: bold;
            text-transform: uppercase;
            background-color: rgba(0, 0, 0, 0.1);
        }

        tr {
            page-break-inside: avoid;
            white-space: nowrap;
        }

        th,
        td {
            border: 1px solid #000
        }

        thead td {
            padding: 8px;
            text-align: center;
        }

        tbody td {
            padding: 5px;
        }

        .valor {
            min-width: 200px;
            padding-left: 5px;
            text-transform: capitalize;
        }

        .borda-esquerda {
            border-left: 1px solid #000;
        }

        .borda-direita {
            border-right: 1px solid #000;
        }

        .borda-superior {
            border-top: 1px solid #000;
        }

        .borda-inferior {
            border-bottom: 1px solid #000;
        }

        .container-assinatura {
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            gap: 10;
            background-color: red;
        }

        .container-assinatura .item {
            width: 26.66%;
            border-top: 1px solid #000;
            padding: 5px 30px;
            text-align: center;
            background-color: green;
        }
    </style>
</head>

<body>
    <% function formatoTempo(minutos) { %>
        <% const horas=Math.floor(minutos / 60); %>
            <% const minutosRestantes=minutos % 60; %>
                <% const segundos=Math.floor((minutosRestantes % 1) * 60); %>
                    <% const horasFormatadas=horas.toString().padStart(2, '0' ); %>
                        <% const minutosFormatados=minutosRestantes.toString().padStart(2, '0' ); %>
                            <% const segundosFormatados=segundos.toString().padStart(2, '0' ); %>
                                <% return `${horasFormatadas}:${minutosFormatados}:${segundosFormatados}`; %>
                                    <% } %>
                                        <header>
                                            <div class="quadro borda-superior borda-inferior">
                                                <h1 class="titulo-rel">Relatório Geral de Horas Extras</h1>
                                            </div>
                                            <table>
                                                <tr>
                                                    <td class="titulo" colspan="4">CONSULTA</td>
                                                </tr>
                                                <tr>
                                                    <td class="campo">INÍCIO</td>
                                                    <td>
                                                        <%= inicio %>
                                                    </td>
                                                    <td class="campo">FIM</td>
                                                    <td>
                                                        <%= fim %>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="campo">TOLERÂNCIA</td>
                                                    <td>
                                                        <%= formatoTempo(tolerancia) %>
                                                    </td>
                                                    <td class="campo">PREÇO</td>
                                                    <td>
                                                        <%= preco %><span
                                                                style="font-weight: 300;font-size: 10px;">/min</span>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="titulo" colspan="4">RESULTADO</td>
                                                </tr>
                                                <tr>
                                                    <td class="campo">TOTAL DE HORAS</td>
                                                    <td>
                                                        <%= formatoTempo(duracao_total) %>
                                                    </td>
                                                    <td class="campo">VALOR TOTAL</td>
                                                    <td>
                                                        <%= valor_total.toLocaleString("pt-br", { style: "currency" ,
                                                            currency: "BRL" }) %>
                                                    </td>
                                                </tr>
                                            </table>

                                        </header>
                                        <main>
                                            <table>
                                                <caption>Registros</caption>
                                                <thead>
                                                    <tr>
                                                        <td class="campo">Colaborador</td>
                                                        <td class="campo">Qtd. Dias</td>
                                                        <td class="campo">Tempo Total</td>
                                                        <td class="campo">Valor Total</td>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <% data.map(acc=> { %>
                                                        <tr>
                                                            <td>
                                                                <%= acc.usuario.nome %>
                                                            </td>
                                                            <td>
                                                                <%= acc.dias.length %>
                                                            </td>
                                                            <td>
                                                                <%= formatoTempo(acc.duracao_total) %>
                                                            </td>
                                                            <td>
                                                                <%= acc.valor_total.toLocaleString("pt-br", {
                                                                    style: "currency" , currency: "BRL" }) %>
                                                            </td>
                                                        </tr>
                                                        <% }) %>
                                                </tbody>
                                            </table>
                                            <div class="quadro borda-inferior">
                                                <p class="titulo borda-inferior">Observações</p>
                                                <div class="conteudo">
                                                    <p>* Relatório geradado em <%= new Date().toLocaleString() %>
                                                    </p>
                                                </div>
                                            </div>
                                        </main>
                                        <footer>
                                            <table
                                                style="margin-top: 70px;border-collapse: separate; border-spacing: 10px; ">
                                                <tr style="text-align: center;page-break-inside: avoid; ">
                                                    <td style="width: 26.66%; border: none; border-top: 1px solid #000">
                                                        Departamento Pessoal</td>
                                                    <td style="width: 26.66%; border: none; border-top: 1px solid #000">
                                                        Financeiro</td>
                                                </tr>
                                            </table>
                                        </footer>
</body>

</html>